body {
    top: 0;
    left: 0;
    background-color: black;
}
input{
    display: block;
    width: auto;
    margin:auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
img{
    height: 50px;
    width: 150px;
}
label{
    display: block;
    width: auto;
    margin: auto;
    text-align: center;
    color: white;
    font-size: x-large;
}
.blo{
    display: block;
}
#emaili{
    color: black;
    padding: 5px;
    width: 70%;
    margin:30px auto;
    background-color: rgba(255,255,255,0.4);
    border-radius: 22px 22px;
    padding-top: 10px;
}

header{
    top: 0;
    left: 0;
}
ul{
    float: right;
    display: inline;
    margin-top: 0px;
    padding-top: 2%;
}
#header-img{
    display: inline;
    padding-top: 2%;
}
li{
    list-style:none;
    display: inline;
    padding: 20px;
}
#nav-bar{
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: auto;
    background-color: black;
    color: cornsilk;
    overflow: hidden;
    top: 0;
    left: 0;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow:2px 2px 5px silver ;
}
#nav-bar a{
    text-decoration: none;
    color: white;
}

.container{
    margin-top: 120px;
    background-image: url(https://t4.ftcdn.net/jpg/03/04/91/41/360_F_304914196_XaD7nPyd1b8tlyLR9iZWV6geFJw6QULn.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

#end{
    color: white;
}

#end h4{
    text-align: center;
}

#main-img{

    width: 100%;
    height: 450px;
    background-image: url(https://i.pinimg.com/originals/f6/e0/45/f6e0457aae4cc705bfb3a8d8e41ec50a.jpg);
    background-size: cover; 
     background-position: center;
     background-repeat: no-repeat;
    background-origin: border-box;
    color: white;
    font-size: x-large;
}
.mid{
    text-align: center;
    margin:30px auto 30px auto;
    background-color:rgba(0,0,0,0.4);
    width: auto;
    font-size: 2em;
}

#video{
    display: block;
    width: 70%;
    margin: auto;
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#info{
    background-image: url(https://mocah.org/thumbs/5375291-architecture-abstract-wallpaper-desktop-wallpapers-hd-wallpapers-black-wallpapers-hd-backgrounds-wallpapers-hd-wallpapers-amazing-wallpaper-pretty-backgrounds-black-background-desktop-backgrou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.xyz{
    width: 500px;
  height:auto;
    /* border:2px solid red; */
    background-color: rgb(224, 223, 223,0.8);
    margin: 20px;
    border-radius: 25px ;
    padding: 5px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.abc{
    font-size: 1.1em;
    margin-top: 4px;
}

h3{
    color: saddlebrown;
    font-size: 1.4em;
    margin-bottom: 0px;
}






@media (max-width:600px) {
    li{  
    padding: 8px;
    font-size: 0.7em;
    }
      #main-img{
          height: 300px;
      }
    #video{
        width: 100%;
        height: 300px;
    }
    .container{
        margin-top: 180px;
    }
    #email{
        width: 90%;
    }
    
}
@media (max-width:300px) {
    ul,li{
        display: block;
        width: auto;
        /* margin: auto; */
        float: none;
        text-align: center;
        padding: 5px;
    }  
    img{
        display: block;
        width: 100%;
        margin:auto;
            height: 30px;
    }
    .container{
        margin-top: 230px;
    }
}
