main{
width:95%;
margin:auto;
display:flex;
justify-content:center;
align-items:center;
align-self:center;
flex-direction:column;
background-color: rgb(240, 236, 236);
border-radius: 40px;
}
body{
    background-color: black;
}

h1{
    width: 80%;
    padding: 5%;
    color:rgb(43, 31, 5);
    /* padding-left: 50px;
    padding-right: 50px; */
background-image:linear-gradient(45deg,rgba(255,153,204,0.8),rgba(153,255,235,0.7));
font-size:50px;
text-align:center;
border-radius: 20px;
}

hr{
color:black;
display:block;
width:96%;
}
#container{
display:flex;
height:60px;
justify-content:center;
}


.box{
margin:auto 4px auto 4px;
width:5px;
border-radius: 20px;
height:30px;
border:2px black solid;
}
#box1,#box4{
height:50px;
background-color:black;
animation-name:end;
animation-duration:1s;
animation-iteration-count: infinite;
}
#box2 ,#box3{
background-color:black;
animation-name:mid;
animation-duration:1s;

animation-iteration-count: infinite;
}

@keyframes end{
50%{
height:30px;
background-color:black;
}
100%{
height:50px;
background-color:black;
}
}

@keyframes mid{
50%{
height:50px;
background-color:black;
}
100%{
height:30px;
background-color:black;
}
}
#tribute-info{
background-color:#fae9e4;
width:90%;
border:2px solid #fdc897;
border-radius: 26px;
}
#image{
width:80%;
height:auto;
display:block;
margin:15px auto;
}

#img-div{
border:2px solid black;
margin-left:2% ;
margin-right: 2%;
}
p{
width:80%;
text-align:center;
margin:5px auto;
font-family:monospace;
font-size:15px;
}
.info1{
    margin: 15px;
    width:80%;
    font-size: 20px;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: rgb(46, 45, 45);
    border-radius: 26px;
    border: 2px solid rgb(177, 180, 180);
    color: white;
    text-align: center;
}
.info2{
    margin: 15px;
    width:80%;
    font-size: 20px;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: rgb(166, 196, 196);
    border-radius: 26px;
    border: 2px solid rgb(177, 180, 180);
    color: white;
    text-align: center;
    color: rgb(43, 31, 5);

}
h2{
    text-align: center;
}

ul li{
    text-align: left;
    padding-top: 2px;
    padding-bottom: 8px;
    color: rgb(43, 31, 5);
}

.bottom{
    margin: 15px;
    width:80%;
    font-size: 25px;
    margin: 20px auto;
    padding: 20px 20px;
    background-color: rgb(240, 236, 236);
    border-radius: 26px;
    border: 2px solid rgb(200, 204, 204);
    text-align: center;
    color: rgb(43, 31, 5);
}

.bot{
    font-size: 20px;
    width: 80%;
}

.link{
    text-decoration: none;
}

footer{
    /* margin:15px; */
    background-color: rgb(70, 128, 235);
    color:white;
    font-weight: bold;
    width: 100%;
}

a:hover{
    text-decoration:underline;
}
